* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
		"sidebar header"
		"sidebar main-content"
	;
}

.container > div {
	border: 1px solid black;
}

.sidebar {
	padding: 1.5rem;
	grid-area: sidebar;
}

.branding {
	margin-bottom: 3rem;
}

.nav ul {
	display: grid;
	grid-auto-rows: 1fr;
	gap: 1rem;
	list-style-type: none;
}

.branding,
.nav > ul > li {
	display: flex;
	align-items: center;
}

.branding > span,
.nav > ul > li > span {
	margin-right: 1rem;
}

.header {
	grid-area: header;
}

.main-content {
	grid-area: main-content;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}