* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: 1fr 4fr;
	grid-template-areas:
		'sidebar header'
		'sidebar main-content';
}

.sidebar {
	padding: 1.5rem;
	grid-area: sidebar;
	background-color: #3191d1;
	color: #ffffff;
}

.branding {
	margin-bottom: 3rem;
	font-size: 2rem;
	font-weight: bold;
}

.branding > .material-icons {
	font-size: 3rem;
}

.nav ul {
	display: grid;
	grid-auto-rows: 1fr;
	gap: 1.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	list-style-type: none;
}

.branding,
.nav > ul > li {
	display: flex;
	align-items: center;
}

.branding > span,
.nav > ul > li > span {
	margin-right: 1.5rem;
}

.header {
	padding: 1rem 3rem;
	grid-area: header;
}

.header-top {
	display: grid;
	grid-template-columns: 1fr repeat(3, auto);
	gap: 1rem;
	align-items: center;
}

.header-bottom {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: auto 1fr repeat(3, auto);
	gap: 1rem;
	align-items: center;
}

.search {
	display: flex;
	gap: 1rem;
}

.search > input[type='search'] {
	width: 75%;
	background-color: #e2e8f0;
	border: none;
	border-radius: 1rem;
}

.avatar-large {
	width: 64px;
	height: 64px;
}

.avatar-small {
	width: 48px;
	height: 48px;
}

.username,
.greeting-small-text,
.greeting-large-text  {
	font-weight: 700;
}

.greeting-large-text {
	font-size: 1.5rem;
}

button {
	width: 75px;
	height: 32px;
	background-color: #1992d4;
	color: white;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
}

.main-content {
	padding: 1.5rem;
	grid-area: main-content;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"projects annoucements"
		"projects	trending";
	gap: 2rem;
	background-color: #e2e8f0;
}

h2 {
	margin-bottom: 1rem;
}

p {
	color: grey;
}

.projects {
	grid-area: projects;
	display: flex;
	flex-direction: column;
}

.project-card-wrapper {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 2rem;
}

.project-card {
	padding: 2rem 1.5rem 1.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: .5rem;
	border-left: 8px solid #ecb63d;
}

.project-card-content {
	flex: 1;
}

.project-card-icons {
	align-self: flex-end;
}

.project-card-icons > span {
	margin: .5rem;
}

.annoucements {
	grid-area: annoucements;
	display: flex;
	flex-direction: column;
}

.trending {
	grid-area: trending;
	display: flex;
	flex-direction: column;
}

.annoucement-wrapper, 
.trending-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	border-radius: 1rem;
	background-color: #ffffff;
}

.annoucement {
	flex: 1;
	padding-bottom: 1rem;
}

.annoucement:not(:first-child) {
	margin-top: 1rem;
}

.annoucement:not(:last-child) {
	border-bottom: 1px solid lightgray;
}

.trending-card {
	flex: 1;
	display: flex;
	align-items: center;
}

.trending-card .avatar-small {
	margin-right: 1rem;
}

.trending-card-project {
	color: grey;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
